body {
  text-align: center;
  font-family: -apple-system, sans-serif;
}
.container {
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
}
button {
  background: #00ad9f;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 7px 15px;
  margin-left: 8px;
  cursor: pointer;
}
.label {
  margin-right: 10px;
}
.start {
  margin-top: 30px;
  font-size: 20px;
}
button:hover {
  background: #008378;
}
button:focus {
  outline: 0;
}
.cards {
  position: relative;
  top: 50px;
  width: 820px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .cards {
    width: 420px;
  }
}
.card-container {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.card-container:not(:nth-child(6n)) {
  margin-right: 20px;
}

.card {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background: #222;
}

.username-input {
  margin: 100px;
}

.scores, .user-score {
  margin-top: 40px;
}

.score-value {
  margin-left: 5px;
}